@import url("common.css");
body {
  margin: 0;
}

.mainvisual {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainvisual .topimages {
  height: 480px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.mainvisual .topimages .topimage-cover {
  width: 100vw;
  height: 480px;
  background: rgb(33, 33, 33);
  opacity: 0.6;
  position: absolute;
}
.mainvisual .topimages .topimage {
  background: white url(../Images/top.png) center center/cover no-repeat;
  height: 480px;
  width: 100vw;
}
.mainvisual .pagetitle {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "roboto", sans-serif;
}
.mainvisual .pagetitle .h2-container h2 {
  font-size: 60px;
  margin: 20px;
  font-weight: 500;
}
.mainvisual .pagetitle .h2-container .withh3 {
  font-size: 40px;
  font-weight: 700;
}
.mainvisual .pagetitle .pagetitle-bar {
  display: block;
  width: 93px;
  border: 4px solid rgb(74, 139, 57);
  margin: 0 auto;
}
.mainvisual .pagetitle h3 {
  margin: 20px;
  font-size: 28px;
  font-weight: normal;
}

header.scrolled {
  background: white;
  border-bottom: rgb(204, 204, 204) 1px solid;
}
header.scrolled .htitle h1 a {
  color: rgb(74, 139, 57);
}
header.scrolled .hamburger > span {
  background-color: rgb(74, 139, 57);
}
header.scrolled .hnav-elem {
  color: white;
}
header.scrolled .hnav-elem .hnav-link {
  color: rgb(106, 106, 106);
}
header.scrolled .hnav-elem .hnav-link:hover {
  color: black;
}
header.scrolled .hnav-elem .cur-page {
  color: black;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background: none;
  height: 55px;
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
  z-index: 1;
}
header, header:not(.scrolled), header > * {
  transition: 0.2s;
}

.htitle {
  margin-top: 4px;
  margin-left: 48px;
  font-size: 9.4px;
  font-family: "roboto", sans-serif;
  letter-spacing: 1.5px;
}
.htitle h1 > a {
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.black-screen {
  background-color: black;
  position: fixed;
  transition: 0.5s;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
}
.black-screen.displayed {
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
}

.hnav-container {
  z-index: 3;
  position: fixed;
  transform: translateX(-250px);
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  width: 250px;
  height: 100%;
  background-color: white;
}
.hnav-container.opened {
  transform: translateX(0);
}
.hnav-container .hnav-ul {
  display: flex;
  margin-top: 55.75px;
  flex-direction: column;
}
.hnav-container .hnav-elem {
  list-style: none;
  position: relative;
  font-family: "roboto", sans-serif;
  margin: 10.7px 0;
}
.hnav-container .hnav-elem .hnav-link {
  text-decoration: none;
  color: rgb(106, 106, 106);
  font-family: "roboto", sans-serif;
}
.hnav-container .hnav-elem .hnav-link:hover {
  color: black;
}
.hnav-container .hnav-elem .cur-page {
  font-weight: normal;
  color: black;
}

footer {
  background: rgb(74, 139, 57);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85px;
}
footer .flink-text {
  background: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  width: min(1154px, 90%);
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: "roboto", sans-serif;
  line-height: 0.8em;
  transition: 0.2s;
}
footer .flink-text:hover {
  background: rgba(255, 255, 255, 0.2);
}

.hamburger {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 12px;
  left: 8px;
  background: none;
  border: none;
  z-index: 99;
}
.hamburger:hover {
  background: rgba(183, 153, 81, 0.1199999973);
}
.hamburger > span {
  display: block;
  position: relative;
  left: 7px;
  height: 2px;
  width: 18px;
  background: white;
  transition: 0.4s;
}
.hamburger > span:nth-child(1) {
  top: 10px;
}
.hamburger > span:nth-child(2) {
  top: 13px;
}
.hamburger > span:nth-child(3) {
  top: 16px;
}
.hamburger.clicked > span {
  display: block;
  position: relative;
  left: 7px;
  height: 2px;
  width: 18px;
  background: rgb(74, 139, 57);
}
.hamburger.clicked > span:nth-child(1) {
  top: 15px;
  transform: rotate(135deg);
}
.hamburger.clicked > span:nth-child(2) {
  opacity: 0;
}
.hamburger.clicked > span:nth-child(3) {
  top: 11px;
  transform: rotate(225deg);
}

@media screen and (min-width: 768px) {
  header .hamburger {
    display: none;
  }
  header .htitle {
    margin-left: 28px;
  }
  .hnav-container {
    top: 0;
    right: 0;
    display: flex;
    margin-right: 30px;
    background: none;
    transform: translate(0);
    transition: 0s;
    width: auto;
    height: 55px;
  }
  .hnav-container .hnav-ul {
    display: flex;
    gap: 26px;
    margin: 0;
    flex-direction: row;
    align-items: center;
  }
  .hnav-container .hnav-elem {
    margin: 0;
  }
  .hnav-container .hnav-elem:nth-child(n+2)::before {
    display: block;
    position: absolute;
    left: -14px;
    top: 50%;
    transform: translateY(-2px);
    content: "";
    width: 2px;
    height: 2px;
    background: rgb(158, 158, 158);
  }
  .hnav-container .hnav-elem .hnav-link {
    color: rgba(255, 255, 255, 0.87);
  }
  .hnav-container .hnav-elem .hnav-link:hover {
    color: white;
  }
  .hnav-container .hnav-elem .cur-page {
    font-weight: bold;
    color: white;
  }
}/*# sourceMappingURL=style.css.map */