@import url("common.css");

// color
$green: rgb(74, 139, 57);

// value
$hnav-gap: 26px;

// font
$roboto: 'roboto', sans-serif;

body {
    margin: 0;
}

.mainvisual {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .topimages {
        height: 480px;
        margin: 0 auto;
        text-align: center;
        position: relative;

        .topimage-cover {
            width: 100vw;
            height: 480px;
            background-color: rgb(33,33,33);
            opacity: .6;
            position: absolute;
        }
        
        .topimage {
            background: white url(../Images/top.png) center center/cover no-repeat;
            height: 480px;
            width: 100vw;
        }
    }

    .pagetitle {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-family: $roboto;

        .h2-container {
            h2 {
                font-size: 60px;
                margin: 20px;
                font-weight: 500;
            }

            .withh3 {
                font-size: 40px;
                font-weight: 700;
            }
        }

        .pagetitle-bar {
            display: block;
            width: 93px;
            border: 4px solid $green;
            margin: 0 auto;
        }

        h3 {
            margin: 20px;
            font-size: 28px;
            font-weight: normal;
        }
    }
}

header.scrolled {
    background-color: white;
    border-bottom: rgba(204,204,204,1) 1px solid;

    .htitle {
        color: $green;
    }

    .hnav-elem {
        color: white;

        .hnav-link {
            color: rgb(106,106,106);
    
            &:hover {
                color: black;
            }
        }

        .cur-page {
            color: black;
        }
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: none;
    height: 55px;
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    z-index: 99;

    .htitle,.hnav-elem {
        transform: translateY(2px);
    }

    &, &:not(.scrolled), & > * {
        transition: .2s;
    }
}

.htitle {
    color: white;
    margin-left: 28px;
    font-size: 10px;
    font-family: $roboto;
    letter-spacing: 1.5px;

    h1 {
        font-weight: 500;
    }
}

.hnav-container {
    margin-right: 30px;
}

.hnav-ul {
    display: flex;
    gap: $hnav-gap;
    flex-direction: row;
    align-items: center;
}

.hnav-elem {
    list-style: none;
    position: relative;

    &+ &::before {
        position: absolute;
        left: calc($hnav-gap / -2 - 1px);
        top: 50%;
        transform: translateY(-2px);
        content: "";
        width: 2px;
        height: 2px;
        background-color: rgb(158,158,158);
    }

    .hnav-link {
        text-decoration: none;
        color: rgba(255,255,255,.87);
        font-family: $roboto;

        &:hover {
            color: white;
        }
    }

    .cur-page {
        font-weight: bold;
        color: white;
    }
}

footer {
    background-color: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;

    .flink-text {
        background-color: rgba(255,255,255,0);
        border: 1px solid white;
        border-radius: 5px;
        padding: 10px;
        width: min(1154px,90%);
        color: white;
        text-decoration: none;
        text-align: center;
        font-family: $roboto;
        line-height: 0.8em;
        transition: .2s;

        &:hover {
            background-color: rgba(255,255,255,.2);
        }
    }
}