@import "common.css";
body{
color: rgb(65, 156, 65);
font-family: roboto, sans-serif;

}
.atama h1{
    color: white;
}
.atama h3{
    color: white;
}
a{
    color: blue;
}
.link a{
    color:rgb(47, 110, 47) ;
}
